{% if author.club %}
  {% assign club = site.clubs | where: 'author', author.club | first %}
  <li>
    <a href="{{ club.url }}">
      <i class="fa-solid fa-users" aria-hidden="true"></i><span class="label">
        {% if author.club-short %}
          {{ author.club-short }}
        {% else %}
          {{ club.title }}
        {% endif %}
      </span>
    </a>
  </li>
{% endif %}

{% if author.tiktok %}
  <li>
    <a href="https://tiktok.com//{{ author.tiktok }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fab fa-fw fa-tiktok" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].tiktok_label | default: "TikTok" }}</span>
    </a>
  </li>
{% endif %}

{% if author.hemaratings %}
  <li>
    <a href="https://hemaratings.com/clubs/details/{{ author.hemaratings }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="icon-hemaratings" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].hemaratings_label | default: "HEMA Ratings" }}</span>
    </a>
  </li>
{% endif %}

{% if author.mastodon %}
  {% assign parts = author.mastodon | strip | split: "@" %}
  <li>
    <a href="https://{{ parts | last }}/@{{ parts | first }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fab fa-fw fa-mastodon" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].mastodon_label | default: "Mastodon" }}</span>
    </a>
  </li>
{% endif %}

{% if author.pixelfed %}
  {% assign parts = author.pixelfed | strip | split: "@" %}
  <li>
    <a href="https://{{ parts | last }}/{{ parts | first }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="icon-pixelfed" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].pixelfed_label | default: "Pixelfed" }}</span>
    </a>
  </li>
{% endif %}